---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/trades?end=2018-07-24&limit=5&market=ETHCLP&page=1&start=2018-07-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 5, "page":
        1, "next": 2}, "data": [{"market_taker": "buy", "timestamp": "2018-07-23T23:41:28.507119",
        "price": "302680", "amount": "0.0125", "market": "ETHCLP"}, {"market_taker":
        "sell", "timestamp": "2018-07-23T23:40:44.148260", "price": "301860", "amount":
        "0.2003", "market": "ETHCLP"}, {"market_taker": "buy", "timestamp": "2018-07-23T23:33:22.747890",
        "price": "302700", "amount": "0.0493", "market": "ETHCLP"}, {"market_taker":
        "buy", "timestamp": "2018-07-23T23:33:22.052146", "price": "302680", "amount":
        "0.0167", "market": "ETHCLP"}, {"market_taker": "buy", "timestamp": "2018-07-23T23:33:13.389659",
        "price": "302700", "amount": "0.11", "market": "ETHCLP"}]}'
  recorded_at: Wed, 25 Jul 2018 03:55:48 GMT
recorded_with: VCR 4.0.0
