---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/trades?end=2018-07-24&limit=20&market=ETHCLP&page=1&start=2018-07-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 20, "page":
        1, "next": 2}, "data": [{"market_taker": "sell", "timestamp": "2018-07-23T23:24:31.446424",
        "price": "302660", "amount": "0.0002", "market": "ETHCLP"}, {"market_taker":
        "buy", "timestamp": "2018-07-23T23:24:26.468735", "price": "302660", "amount":
        "0.0441", "market": "ETHCLP"}, {"market_taker": "buy", "timestamp": "2018-07-23T23:23:33.689761",
        "price": "302660", "amount": "0.0497", "market": "ETHCLP"}, {"market_taker":
        "sell", "timestamp": "2018-07-23T22:42:17.654906", "price": "299060", "amount":
        "0.07", "market": "ETHCLP"}, {"market_taker": "buy", "timestamp": "2018-07-23T22:38:27.621215",
 [...]
