---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/trades?end=2018-07-25&limit=5&market=ETHCLP&page=1&start=2018-07-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 5, "page":
        1, "next": 2}, "data": [{"market_taker": "buy", "timestamp": "2018-07-24T23:26:32.595195",
        "price": "317860", "amount": "0.7171", "market": "ETHCLP"}, {"market_taker":
        "sell", "timestamp": "2018-07-24T22:34:57.261158", "price": "316020", "amount":
        "0.6491", "market": "ETHCLP"}, {"market_taker": "sell", "timestamp": "2018-07-24T22:21:20.331953",
        "price": "314900", "amount": "0.0385", "market": "ETHCLP"}, {"market_taker":
        "sell", "timestamp": "2018-07-24T22:20:43.856085", "price": "314900", "amount":
        "0.1", "market": "ETHCLP"}, {"market_taker": "buy", "timestamp": "2018-07-24T22:05:08.946124",
        "price": "317900", "amount": "0.2967", "market": "ETHCLP"}]}'
  recorded_at: Wed, 25 Jul 2018 04:01:52 GMT
recorded_with: VCR 4.0.0
