---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/trades?end=2018-07-25&limit=20&market=ETHCLP&page=1&start=2018-07-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 20, "page":
        1, "next": 2}, "data": [{"market_taker": "sell", "timestamp": "2018-07-24T20:49:25.453007",
        "price": "314820", "amount": "1", "market": "ETHCLP"}, {"market_taker": "sell",
        "timestamp": "2018-07-24T20:49:24.772107", "price": "314820", "amount": "1",
        "market": "ETHCLP"}, {"market_taker": "sell", "timestamp": "2018-07-24T20:46:35.399179",
        "price": "316020", "amount": "0.4208", "market": "ETHCLP"}, {"market_taker":
        "sell", "timestamp": "2018-07-24T20:33:02.214499", "price": "315020", "amount":
        "0.0638", "market": "ETHCLP"}, {"market_taker": "sell", "timestamp": "2018-07-24T20:31:20.652196",
 [...]
