---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/book?limit=5&market=ETHCLP&page=1&type=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 5, "page":
        1, "next": 2}, "data": [{"timestamp": "2018-07-24T19:13:38.017724", "price":
        "310000", "amount": "2.4193"}, {"timestamp": "2018-07-25T03:04:45.150529",
        "price": "305680", "amount": "5.6501"}, {"timestamp": "2018-07-25T03:04:31.744870",
        "price": "305680", "amount": "1.6161"}, {"timestamp": "2018-07-25T02:39:45.303975",
        "price": "305560", "amount": "1.0047"}, {"timestamp": "2018-07-24T14:59:37.456822",
        "price": "305500", "amount": "0.2696"}]}'
  recorded_at: Wed, 25 Jul 2018 03:46:38 GMT
recorded_with: VCR 4.0.0
