---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/book?limit=20&market=ETHCLP&page=1&type=buy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "pagination": {"previous": 0, "limit": 20, "page":
        1, "next": 2}, "data": [{"timestamp": "2018-07-24T19:59:31.964808", "price":
        "300040", "amount": "2.7023"}, {"timestamp": "2018-07-24T02:51:20.407062",
        "price": "300040", "amount": "1.0065"}, {"timestamp": "2018-07-24T15:39:04.080705",
        "price": "300000", "amount": "0.4338"}, {"timestamp": "2018-07-24T21:54:12.348004",
        "price": "300000", "amount": "0.1479"}, {"timestamp": "2018-07-24T19:59:51.476039",
        "price": "300000", "amount": "1.0666"}, {"timestamp": "2018-07-24T19:37:37.900002",
        "price": "300000", "amount": "0.0995"}, {"timestamp": "2018-07-24T16[...]
