---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/ticker?market=ETHCLP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "data": [{"volume": "105.544489916586546504",
        "timestamp": "2018-07-25T03:40:10.509331", "bid": "311100", "last_price":
        "311100", "high": "317940", "low": "303000", "ask": "316960", "market": "ETHCLP"}]}'
  recorded_at: Wed, 25 Jul 2018 03:40:15 GMT
recorded_with: VCR 4.0.0
