---
http_interactions:
- request:
    method: get
    uri: https://api.cryptomkt.com/v1/ticker?market
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - es
    body:
      encoding: ASCII-8BIT
      string: '{"status": "success", "data": [{"volume": "104.544489916586546504",
        "timestamp": "2018-07-25T03:37:44.842496", "bid": "311120", "last_price":
        "314820", "high": "317940", "low": "303000", "ask": "316980", "market": "ETHCLP"},
        {"volume": "55.063900118679501835", "timestamp": "2018-07-25T03:37:44.842496",
        "bid": "13306", "last_price": "13376", "high": "13450", "low": "12400", "ask":
        "13398", "market": "ETHARS"}, {"volume": "6.553965662707551057", "timestamp":
        "2018-07-25T03:37:44.842496", "bid": "395.1", "last_price": "414.6", "high":
        "417.3", "low": "390", "ask": "412.4", "market": "ETHEUR"}, {"volume": "3.534059161690965979",
        "timestamp": "2018-07-25T03:37:4[...]
